<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comparison</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comparison</title>
</head>
<body>

<div>

    Which of the two list has the highest energy level?

</div>

<div>

    <form>
      <input type="radio" name="energy" value="1" checked> List 1<br>
      <input type="radio" name="energy" value="2"> List 2
    </form>

</div>

<div>

    Which of the two list has the highest valence level?

</div>

<div>

    <form>
      <input type="radio" name="valence" value="1" checked> List 1<br>
      <input type="radio" name="valence" value="2"> List 2
    </form>

</div>

<div>

    Which of the two list is most danceable?

</div>

<div>

    <form>
      <input type="radio" name="danceability" value="1" checked> List 1<br>
      <input type="radio" name="danceability" value="2"> List 2
    </form>

</div>

 <form action="{{ url_for('end') }}", method="GET">
     <button type="submit" name="song">Submit</button>
 </form>

</body>
</html>

</body>
</html>