{% extends 'layout.html' %}

{% block body %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

    var interval = 1000;  // 1000 = 1 second, 3000 = 3 seconds
    var progress;
    var question;
    var noMoreQuestion;
    var questionsActive = false;
    var id;
    var status;
    var current_list;
    var current_song;
    var songs_to_play;
    var ready_for_next_song = false;
    var current_id;
    var playing;

    function get_songs_to_play() {

         // Request the songs that should be played
        $.ajax({
            type: 'GET',
            url: '{{ url_for('getrec') }}',
            dataType:"json",
            success: function (data) {  console.log(data);
                                        songs_to_play = data;
            }});

    }

    get_songs_to_play();

    function controlPlayer() {

        // Request the current status of the player with a GET request
        $.ajax({
            type: 'GET',
            url: '{{ url_for('music_player') }}',
            dataType:"json",
            success: function (data) {
                console.log(data);
                noMoreQuestion = data['nomorequestions'];
                progress = data['progress'];
                current_list = data['current_list'];
                current_song = data['current_song'];
                status = data['status'];
                id = data['id'];
                playing = data['playing'];
            },
            complete: function () {

                if (playing === false || status === '204') {
                    console.log('no song is playing');

                    current_id = songs_to_play[current_list][current_song];

                    console.log(current_id);

                    $.ajax({
                        type: 'POST',
                        url: '{{ url_for('music_player') }}',
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({ current_song: current_song,
                                               current_id: current_id })
                    });

                }

                if (progress > 25000 && ready_for_next_song === false) {
                    if (current_song === 4){
                        $.ajax({
                        type: 'POST',
                        url: '{{ url_for('pause') }}',
                        dataType: "json",
                        contentType: "application/json"
                    });

                        window.location.href = "{{ url_for( "review_list" ) }}";

                    }
                    else {
                        if (id === songs_to_play[current_list][current_song]) {
                            ready_for_next_song = true
                        }
                        else {
                            console.log('previous experiment song is loaded')
                        }
                    }
                }

                if (ready_for_next_song === true && noMoreQuestion === true ) {

                    // play next song
                    current_song = current_song + 1;
                    current_id = songs_to_play[current_list][current_song]

                    $.ajax({
                        type: 'POST',
                        url: '{{ url_for('music_player') }}',
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({ current_song: current_song,
                                               current_id: current_id }),
                        complete: function () {
                            ready_for_next_song = false;
                        }
                    });
                }

            }});

        // Request the current status of the player with a GET request
        $.ajax({
            type: 'GET',
            url: '{{ url_for('music_player') }}',
            dataType:"json",
            success: function (data) {

                // IF THE LIST IS AT THE END, REVIEW LIST
                if ((data['stage'] === 'evaluateList1') || (data['stage'] === 'evaluateList2')) {

                    // Go the the review list
                    window.location.href = "{{ url_for( "review_list" ) }}";
                }

                // When a track is played
                else if (data['name'] != 'noName'){
                    id = data['id']
                    progress = data['progress'];
                    noMoreQuestion = data['nexttrack'];
                }

                // In case no track is loaded
                else {console.log('No track loaded')}

            },
            complete: function () {

                // When there is no question is currently asked and there are questions left...
                // Ask the question
                if ((questionsActive === false) && (noMoreQuestion !== true)) {

                        // Notify the system that the next question might be asked
                        openQuestion();
                }

                // Set the next time we should check the progress of the player
                setTimeout(controlPlayer, interval)
            }
        });
    }

    // Function that askes questions while playing songs
    function openQuestion() {
        $.ajax({
            type: 'GET',
            url: '{{ url_for('question') }}',
            dataType:"json",
            success: function (data) {

                // When the system returns a question
                if ((data['status'] === 'OK') && (questionsActive === false)) {

                    // Notify the system that a question is asked
                    questionsActive = true;
                    question = data['question']

                    // Function used to show the question
                    function showQuestion() {

                        // Load the data in the HTML containers
                        document.getElementById("questionDialog").innerHTML = data['question'];
                        document.getElementById("lowDialog").innerHTML = data['radioLow'];
                        document.getElementById("highDialog").innerHTML = data['radioHigh'];
                        document.getElementById("neutralPoint").innerHTML = data['middle'];

                        // Load the answer posibilities
                        var answers = '';
                        for (i = 0; i < data['answers'].length; i++) {
                            answers = answers.concat('<input type="radio" name="answerR" value="' + data['answers'][i] + '" />')
                        }
                        document.getElementById("answers").innerHTML = answers;

                        // Show the question
                        questionContainer.style.visibility = 'visible';
                    }

                    // When the question should be shown to the user
                    // If this function is not delayed, the questions pop up quickly after each other
                    var random_wait_time = Math.floor((Math.random() * 1000) + 100);
                    setTimeout(showQuestion, random_wait_time);

                }

                // When the system does not return a question.
                // I.e., all questions are asked or a question is currently active
                else {
                    console.log('no more questions, or question is active');
                }
            }
        });
    }

// Initial load of the control player
setTimeout(controlPlayer,1000);

</script>

<script>

function read_answers() {

    // Hide the question
    questionContainer.style.visibility = 'hidden';

    // Notify the system that there is no question active
    questionsActive = false;

    // Load the values of the
      var radios = document.getElementsByName('answerR');

      for (var i = 0, length = radios.length; i < length; i++) {
          if (radios[i].checked) {

              $.ajax({
                type: 'POST',
                url: '{{ url_for('question') }}',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ answer:radios[i].value,
                                       question:question, id:id})
              });

              // only one radio can be logically checked, don't check the rest
              break;
          }
      }
}

</script>
<div class="row justify-content-md-center">
    Adjust Volume
  <input type="range" id="myRange" min="0" max="100" onchange="myFunction()">
</div>

<script>
var cvolume;

getVolume();

function myFunction() {
    var volume_setting = document.getElementById("myRange").value;
    $.ajax({
                type: 'POST',
                url: '{{ url_for('volume') }}',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ volume: volume_setting})
              });
}

function getVolume() {
    $.ajax({
                type: 'GET',
                url: '{{ url_for('update_device') }}',
                dataType: "json",
                contentType: "application/json",
                success: function(data){
                    cvolume = data['volume_percent']
                    console.log(cvolume)
                },
                complete: function () {
                    $("#myRange").val(cvolume);
                }
              });
}
</script>

<div class="back">

    <div id="questionContainer" class="container questionBox" style="visibility: hidden;">

        <div id="innerQuestionContainer" class="container rb-box">
            <!-- The Question -->
            <div class="row justify-content-md-center" style="height: 100px;">
                <br>
                <div id="questionDialog" class="col col-lg-12 questionText"></div>
            </div>

            <!-- Set neutral point -->
            <div class="row justify-content-md-center">
                <div id="neutralPoint" class="col col-lg-1 answerText"></div>
            </div>

            <!-- The Answers -->
            <div class="row justify-content-md-center" style="height: 100px;">
                <div id="lowDialog" class="col col-lg-2 answerText"></div>
                <form id="answers"></form>
                <div id="highDialog" class="col col-lg-2 answerText"></div>
            </div>
        </div>

        <div>
            <button id="button" onclick="read_answers()" class="row justify-content-md-center">Submit</button>
        </div>
    </div>
</div>


{% endblock %}