<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Playing Song</title>

    <style>

        .ui-dialog-titlebar-close {
            visibility: hidden;
        }

    #questionDiv {
        border: 1px solid black;
        overflow: auto;
    }

    #dialog-question{
        border: 1px solid black;
    }

    #low {
        float:left;
        border: 1px solid black;
    }

    #buttons {
        border: 1px solid black;
        float: left;
    }

    #high {
        float:left;
        border: 1px solid black;
    }

     input[type="radio"]{
      margin: 0 10px 0 10px;
    }
    </style>

</head>

<body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

    var interval = 3000;  // 1000 = 1 second, 3000 = 3 seconds
    var next = false;
    var url;
    var question;
    var questionsActive = false;

    function controlPlayer() {
        $.ajax({
            type: 'GET',
            url: '{{ url_for('music_player') }}',
            dataType:"json",
            success: function (data) {

                console.log(data)

                if (data['name'] != 'noInfo'){

                    // Which song is played
                $('#name').html(data['name']);

                // Artist
                $('#artist').html(data['artist']);

                // Album cover
                $("#cover").attr('src', data['cover']);

                // Current progress
                $('#progress').html(data['progress']);

                // Next track
                next = data['nexttrack']
                url = data['url']

                }
                else {console.log('STATUS 202')}

            },
            complete: function () {

                if (next === 1) {
                    // go to next question
                    console.log('Next track')
                    setTimeout(controlPlayer, 1000)
                }
                else {
                    // if song is not ready
                    // pause for a moment
                    console.log('sleep for a moment, track is playing')
                    setTimeout(controlPlayer, interval)

                    if (questionsActive === false) {
                        console.log('Activate questions')
                        openQuestion()
                    }
                }
            }
        });
    };

    function openQuestion() {
        $.ajax({
            type: 'GET',
            url: '{{ url_for('question') }}',
            dataType:"json",
            success: function (data) {

                questionsActive = true;

                if (data['status'] === 'OK') {

                    console.log('Question')

                     question = data['question']

                    $("#question").html(question);
                    $("#low").html(data['radioLow']);
                    $("#high").html(data['radioHigh']);

                    // Show question
                    $("#dialog-question").dialog('open');

                }
                else {
                    console.log('no more questions');
                    questionsActive = false;
                }



            }
        });
    }


  $( function() {
      $("#dialog-question").dialog({
          resizable: false,
          height: "auto",
          width: 400,
          modal: true,
          autoOpen: false,
          buttons: {
              Submit: function () {

                  // Close the alert box
                  $(this).dialog("close");

                  setTimeout(openQuestion, 5000)

                  // Load the values of the
                  var radios = document.getElementsByName('answerS');

                  for (var i = 0, length = radios.length; i < length; i++) {
                      if (radios[i].checked) {

                          // do whatever you want with the checked radio
                          console.log(radios[i].value);

                          $.ajax({
                            type: 'POST',
                            url: '{{ url_for('question') }}',
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify({ answer:radios[i].value,
                                                   question:question})
                          });

                          // only one radio can be logically checked, don't check the rest
                          break;
                      }
                  }
              }
          }
      });
  });

    controlPlayer();

    setTimeout(openQuestion, 5000);



</script>

<div id="name"></div>
<div id="artist"></div>
<img id="cover" src="" />


    <div id="dialog-question" title="">

        <p id="question"></p>

        <div id="questionDiv">

            <div id="low"></div>
            <div id="buttons">
                 <form action="">
                    <input type="radio" name="answerS" value="-3">
                    <input type="radio" name="answerS" value="-2">
                    <input type="radio" name="answerS" value="-1">
                    <input type="radio" name="answerS" value="0">
                    <input type="radio" name="answerS" value="1">
                    <input type="radio" name="answerS" value="2">
                    <input type="radio" name="answerS" value="3">
                </form>
            </div>
            <div id="high"></div>


        </div>





    </div>

</body>
</html>