{% extends 'layout.html' %}

{% block body %}
<style>
    .container {
      position: relative;
      width: 100%;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    var interval = 3000;  // 1000 = 1 second, 3000 = 3 seconds

    function checkDevices() {
        $.ajax({
                type: 'GET',
                url: '{{ url_for('update_device') }}',
                data: $(this).serialize(),
                dataType: 'json',
                success: function(data){
                    $('#active_device').html(data['name']);

                    console.log(data['name'])

                    if (data['name'] === 'noDevice'){
                        $("#divEle").show();
                        $("#goToExperimentBut").prop('disabled', true);
                    }
                    else {
                        $("#divEle").hide();
                        $("#goToExperimentBut").prop('disabled', false);
                    }

                    },
                complete: function () {
                    setTimeout(checkDevices, interval)
                }
        });
    };

    checkDevices();

</script>

<div class="container-fluid">

<div class="row">

    <div id="divEle" class="alert alert-warning col-lg-12">
      <strong>Warning!</strong> You currently have no active devices
    </div>
</div>

<div id="active_device"></div>

<div class="row">
    <div class="col-lg-3">
        <h4>We hebben al een nummer voor jou gekozen, verfijn hieronder je keuze</h4>
    </div>
    <div class="col-lg-2">
        <img src="{{ song_dic[seed_id]['album']['images'][1]['url'] }}"  style="max-width: 100%">
    </div>
    <div class="col-lg-2">
                <div class="title_show"><p class="song-title">{{ song_dic[seed_id]['name'] }}</p></div>
                <div class="artist_show"><p class="artist">{{ song_dic[seed_id]['artists'][0]['name'] }}</p></div>

    </div>
    <div class="col-lg-2">
                <form action="/calrec", method="POST">
                    <button id="goToExperimentBut" type="submit" name="selected_song" value="{{ seed_id }}">Use as seed song, go to experiment</button>
                </form>
    </div>

</div>

    {% for feature, alternative in alternatives.items() %}
        {% for hl, ids in alternative.items() %}
            {% if ids is not none %}
                <div class="row">
                    <h4>Something with {{ hl }} {{ feature }}</h4>
                </div>

            {% endif %}

                <div class="row">

                {% for id in ids %}

                    <div class="col-lg-2">
                        <div class="container">
                          <img class="image" src="{{ song_dic[id]['album']['images'][1]['url'] }}">
                            <div class="col-lg-2">
                                <audio controls="controls">
                                    <source src="{{ song_dic[id]['preview_url'] }}" type="audio/mpeg"/>
                                </audio>
                             </div>
                        </div>

                        <div class="title_show"><p class="song-title">{{ song_dic[id]['name'] }}</p></div>
                        <div class="artist_show"><p class="artist">{{ song_dic[id]['artists'][0]['name']}}</p></div>

                        <form action="/find_alternative_songs", method="POST">
                            <button type="submit" name="song" value="{{ id }}">Show recommendations for this song</button>
                        </form>

                    </div>



            {% endfor %}

            </div>


        {% endfor %}
    {% endfor %}

</div>

{% endblock %}