{% extends 'layout.html' %}

{% block body %}
<style>
    .container {
      position: relative;
      width: 100%;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(0, 0, 0, 0.96);
    }

    .container:hover .overlay {
      opacity: 0.2;
    }

</style>

<div class="container-fluid">

<div class="row">
    <div class="col-lg-3">
        <h4>We hebben al wat voor jou gekozen, verfijn hieronder je keuze</h4>
    </div>
    <div class="col-lg-2">
        <img src="{{ image }}"  style="max-width: 100%">
    </div>
    <div class="col-lg-2">
                <div class="title_show"><p class="song-title">{{ title }}</p></div>
                <div class="artist_show"><p class="artist">{{ artist }}</p></div>

    </div>
    <div class="col-lg-2">
                <form action="/recommendations1", method="POST">
                        <button type="submit" name="selected_song" value="{{ seed_id }}">Select</button>
                </form>

    </div>


</div>


    {% for feature, alternative in alternatives.items() %}
        {% for hl, ids in alternative.items() %}
            {% if ids is not none %}
                <div class="row">

                <h4>Something with {{ hl }} {{ feature }}</h4>

                </div>

            {% endif %}

                <div class="row">


                {% for id in ids %}

                    <div class="col-lg-2">
                        <div class="container">
                          <img class="image" src="{{ song_dic[id]['cover'] }}"  style="max-width: 100%" onclick="{% print('clicked') %}">
                            {% if song_dic[id]['preview'] is not none %}
                                <div class="overlay">
                                    <center>
                                        <audio controls id="aH">
                                            <source src="{{ song_dic[id]['preview'] }}" type="audio/mpeg">
                                        </audio>
                                    </center>
                                </div>
                            {%endif %}
                        </div>

                        <div class="title_show"><p class="song-title">{{ song_dic[id]['title'] }}</p></div>
                        <div class="artist_show"><p class="artist">{{ song_dic[id]['artist'] }}</p></div>

                        <form action="/find_alternative_songs", method="POST">
                            <button type="submit" name="song" value="{{ id }},{{ song_dic[id]['title']}},{{ song_dic[id]['artist'] }}, {{ song_dic[id]['cover'] }}">Select</button>
                        </form>

                    </div>



            {% endfor %}

            </div>


        {% endfor %}
    {% endfor %}

</div>

{% endblock %}