{% extends 'layout.html' %}

{% block body %}

    <div class="container-fluid">

    <div class="row">

	  <div class="col-lg-12">
          <center>
              <img src="{{ user.picture }}" class="img-circle">
              <h3>{{ user.name }}</h3>
          </center>
      </div>

	</div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-3"><center>Valence</center></div>
                        <div class="col-lg-3"><center>Energy</center></div>
                        <div class="col-lg-3"><center>Danceability</center></div>
                        <div class="col-lg-3"><center>Popularity</center></div>

                    </div>


                </div>

            </div>


        </div>



    </div>

    {% for track in top_user_tracks %}

        <div class="row">
            <div class="col-lg-4">
                <h6>Omdat je hebt geluistered naar {{ track.name }}</h6> <br>
                <img src="{{ track.album.images[0].url }}"  style="max-width: 100%">

            </div>

                    <div class="col-lg-8">

                        {% for recom in recommendations[track.id] %}

                            <div class="row">

                                <div class="col-lg-2">

                                    <img class="padding-0" src="{{ recom.cover }}" style="max-width: 100%">

                                </div>


                                <div class="col-lg-3">

                                    <div class="title_show"><p class="song-title">{{ recom.title }}</p></div>
                                    <div class="artist_show"><p class="artist">{{ recom.artist }}</p></div>
                                    <div>


                                        {% if recom.preview is not none %}
                                            <audio autoplay="0" controls="" autoplay="" name="media">
                                                <source src="{{ recom.preview }}" type="audio/mpeg">
                                            </audio>
                                        {%endif %}


                                    </div>

                                </div>

                                <div class="col-lg-7">

                                    <div class="row">

                                        {% for feature in recom.features %}
                                            <div class="col-lg-3">

                                                {% set size = feature * 30 %}
                                                <svg height="100" width="100">
                                                    <g>
                                                        <circle cx="50" cy="50" r="{{ size }}" fill-opacity="0.4" fill="grey" />
                                                        <text x="50" y="50" font-family="Verdana" font-size="8" fill="black" text-anchor="middle" alignment-baseline="central">{{ feature }}</text>
                                                    </g>
                                                </svg>


                                            </div>

                                        {% endfor %}

                                    </div>

                                </div>

                            </div>




                        {% endfor %}


                    </div>


        </div>





    {% endfor %}



    </div>


{% endblock %}