
p.song-title {
    font-size: 3mm;
}

p.artist {
    color: grey;
    font-size: 3mm;
}

audio { width: 100px;}

div#lH {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  z-index: 1;
  font-size: 25px;
  text-align:center;
}

